.container-profilePage > .form{
    display: flex;
    flex-flow: wrap row;
    margin-top: 1em;
    width: 70vw;
}
.container-profilePage > .form>*:nth-child(1), /* name */
.container-profilePage > .form>*:nth-child(2), /* streetAddressLine1 */
.container-profilePage > .form>*:nth-child(3), /* streetAddressLine2 */

.container-profilePage > .form>*:nth-child(4),  /* state */
.container-profilePage > .form>*:nth-child(7), /* password */
.container-profilePage > .form>*:nth-child(8), /* passwordConfirm */ 
.container-profilePage > .form>*:nth-child(9), /* passwordConfirm */ 
.container-profilePage > .form>*:nth-child(10) /* passwordConfirm */ 
{
    width: 100%;

}
.container-profilePage > .form>*:nth-child(6), /* zipCode */
.container-profilePage > .form>*:nth-child(5) /* city */
{
    width: 47%;
    margin-bottom: 1em;
}
.notValid {
    color: red;
}
.valid {
    color: rgb(55, 208, 55);
}
.container-profilePage > .form > .submitButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
}
.container-profilePage > .form >  #submitButton{
    background-color: rgb(51, 59, 65);
    color: aliceblue;
    font-size: large;
    height: 3rem;
    width: 6rem;


}
.alert{
    width: 100%;
}