.response.label{
    display: flex;
    flex-flow: wrap row;
    margin-left: 1em;
    margin-right: 1em;
}

.response.stars{
    margin: 1em;
}
.response.review{
    margin: 1em;
}
textarea{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: fit-content;
 
}