#reviewTable img {
  width: 70vw;
  height: auto;
  margin-left: 12vw;
}
#reviewTable {
  margin-top: 2em;
  text-align: center;
}

#reviewTableBody {
  display: grid;
}
#bold {
  font-weight: bolder;
}
#reviewTitle {
  justify-content: center;
  align-items: center;
  display: contents;
}
#reviewBody {
  justify-content: center;
  align-items: center;
  display: contents;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
#reviewTable td {
  border: none;
  margin: 2em;
  width: 33vw;
}
.reviewResponse{
  display: table;
  width: 100%;
  height: fit-content;
  padding-bottom: 1em;
}
@media screen and (min-width: 481px) {
  #reviewTable img {
    width: 40vw;
    height: auto;
    margin-left: 15vw;
  }
  #reviewTitle {
    display: contents;
    margin-bottom: 2em;
    width: 100%;
  }
  .ratingStars.rating{
    width: 100%;

  }
.ratingStars.rating > *:nth-child(1){
  width: 30%;
}

  .ratingStars > *:nth-child(2){
   width: 60%;

 }
 .container-reviewList *:nth-child(6){
   width: unset;
 }
}
