.container-homePage {
  margin-top: 2em;
  margin-bottom: 2em;
}
.container-homePage p {
  font-size: large;
  font-weight: bold;
}
.container-homePage .dropdown{
    margin-right: auto;
    margin-left: auto;
    justify-content: right;
    
}
img {
  width: 30vw;
  height: 17vh;
  margin-bottom: 1em;
}
