.App {
  text-align: center;
  max-width: 390px;
  min-height: 100vh;
  position: relative;
}

#wrapper {
  padding-bottom: 2.5rem;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 30px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  margin-left: 15px;
  cursor: pointer;

}  
